.description {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.icons_wrapper {
	display: flex;
	/* width: 80%; */
	align-items: center;
	justify-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.cv_button {
	cursor: pointer;
	background: #4c00cf;
	color: white;
	border: 5px solid transparent;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
}

.cv_button:hover {
	opacity: 95%;
	border: 5px solid white;
}

@media (max-width: 750px) {
	.icons_wrapper {
		display: flex;
		width: auto;
		align-items: center;
		justify-items: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 50px;
	}
}
