.article_grid {
	max-height: 75vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	overflow-y: scroll;
}

@media (max-width: 750px) {
	.article-grid {
		display: block;
	}
}
